<aside class="left-sidebar">
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li class="sidebar-item">
        <a
          class="sidebar-link has-arrow"
          href="javascript:void(0)"
          aria-expanded="false"
        >
          <i class="mdi mdi-gauge"></i>
          <span class="hide-menu">TmSystem </span>
        </a>
        <ul aria-expanded="false" class="collapse first-level in">
          <li class="sidebar-item">
            <div id="bolsas" class="sidebar-link" style="cursor:pointer;">
              <i class="mdi mdi-adjust"></i>
              <span class="hide-menu"> Bolsas </span>
            </div>
          </li>
          <li class="sidebar-item">
            <div id="socios" class="sidebar-link" style="cursor:pointer;">
              <i class="mdi mdi-adjust"></i>
              <span class="hide-menu"> Socios </span>
            </div>
          </li>
           <li class="sidebar-item">
            <div id="general" class="sidebar-link" style="cursor:pointer;">
              <i class="mdi mdi-adjust"></i>
              <span class="hide-menu"> Externas </span>
            </div>
          </li>
        </ul>
      </li>



      <li class="sidebar-item">
        <a
          class="sidebar-link has-arrow"
          href="javascript:void(0)"
          aria-expanded="false"
        >
          <i class="mdi mdi-gauge"></i>
          <span class="hide-menu">Clientes Custom </span>
        </a>
        <ul aria-expanded="false" class="collapse first-level in">
          <li class="sidebar-item">
            <div id="gh_facturacion" class="sidebar-link" style="cursor:pointer;">
              <i class="mdi mdi-adjust"></i>
              <span class="hide-menu"> Grupo Huertas </span>
            </div>
          </li>
         </ul>
      </li>     
      <li class="sidebar-item">
        <a
          class="sidebar-link has-arrow"
          href="javascript:void(0)"
          aria-expanded="false"
        >
          <i class="mdi mdi-gauge"></i>
          <span class="hide-menu">Configuración </span>
        </a>
        <ul aria-expanded="false" class="collapse first-level in">
           <li class="sidebar-item">
            <div id="config_tmsystem" class="sidebar-link" style="cursor: pointer;">
              <i class="mdi mdi-adjust"></i>
              <span class="hide-menu"> TmSystem </span>
            </div>
          </li>
          <li class="sidebar-item">
            <div id="config_gh" class="sidebar-link" style="cursor: pointer;">
              <i class="mdi mdi-adjust"></i>
              <span class="hide-menu"> Grupo Huertas </span>
            </div>
          </li>
         </ul>
      </li>
    </ul>
  </nav>
  
  <!-- End Sidebar navigation -->
</aside>
